.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.frame{
  display: flex;
  background-color: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
                             0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 7%/4%;
  margin: 100px auto;
  padding: 10px 8px;
  width: 250px;
}

.container{
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0 ;
  width: 250px;
}

.item{
  margin: 0 0 15px 0px ;
}

.lineThrough{
  text-decoration: line-through;
}

.input-container{
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

button{
  height: 30px;
  margin-top: 10px;
  border: none;
  background-color: #e57373;
  border-radius: 5px;
}

input{
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  border: 1px solid #e57373;
  border-radius: 5px;
}

body{
  background-color: #e57373;
}

#currentTodos{
  color: grey;
  margin-top: 0;
  margin-bottom: 20px;
}

h2{
  margin-top: 0;
}
